html {
    scroll-padding-top: 100px;
} 
.main{
    width: 100%;
    background-color: aliceblue;
}



.Cartbanner{
    background-image: url(../UX/img333.jpeg)
    ;background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 55vh;
}
.main-content{
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



.shopping-cart{
    background-color: #fff;
    /* height: 500px; */
    margin-bottom: 30px;
}
h3.cart-title{
    background-color: rgb(255, 203, 17);
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
}


.cart-manipulate{
    display: flex;
    padding: 15px;

}
.cart-btn{
    padding: 5px 15px;
    margin: 0 5px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 14px;
}
.cart-items{
    padding: 10px;
}
.table-header,.table-row{
    display: grid;
    grid-template-columns:50px 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(186, 186, 186);
}
.table-header div,.table-row div{
    padding: 10px;
    /* outline: 1px solid rgb(232, 232, 232); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.markerDiv{
    /* outline: 1px solid rgb(186, 186, 186); */
    background-color: rgb(241, 241, 241);
}
.table-row span{
    display: block;
    padding: 10px;
}
.table-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-items a{
    display: block;
    width: 30%;
}
.items-img{
    width: 100%;
}
p.items-txt{
    display: block;
    width: 70%;
    padding: 15px;
    margin: 0;
}
.items-price{
    color: red;
}






.shopping-row{
    display: flex;
}
.shopping-row h4{
    font-size: 16px;
    /* padding: 10px 20px; */
}
.shopping-pay{
    width: 70%;
    background-color: #fff;
    margin-right: 10px;
    /* height: 300px; */
}
.shopping-info{
    width: 30%;
}

.cart-pay{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 10px;
}
.pay-opt{
    width: 60%;
    font-size: 14px;
}
.pay-opt input{
    margin:0 10px;
}
.pay-info{
    width: 40%;
    font-size: 14px;
}


.pay-row{
    padding: 0 20px;
}
.pay-row{
    margin-bottom: 20px;
}
.pay-row h4{
    padding: 20px 0 30px;
}
.pay-row select{
    display: block;
    width: 100%;
    padding: 10px;
}



.info-body div{
    padding: 10px;
    background-color: #fff;
}
.info-body div div{
    /* background-color: brown; */
    margin: 10px 0;
}
.info-body div a{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(69, 168, 62);
    border-radius: 5px;
    color: #fff;
}
.info div{
    display: flex;
    justify-content: space-between;
}
.info div p{
    margin: 0;
}






@media screen and (max-width:959px) { /*對平版以下有作用*/

}
@media screen and (max-width:767px) { /*對手機橫式有作用*/
    .shopping-row{
        display: block;
    }
    .shopping-pay, .shopping-info{
        width: 100%;

    }
    .Cartbanner{
        background-attachment: scroll;
        height: 70vh;
    }
}
@media screen and (max-width:576px) { /*對手機直式以下*/
    .table-header{
        grid-template-columns: 1fr 5fr 1fr;
        font-size: 14px;
    }
    .table-header div:nth-child(3){
        display: none;
    }
    .table-header div:nth-child(5){
        display: none;
    }
    .table-row{
        grid-template-columns: 1fr 5fr 1fr;
    }
    .table-row div:nth-child(3){
        display: none;
    }
    .table-row .items-price{
        grid-column-start: 1;
        grid-column-end: 4;
        justify-content: end;
    }
    .items-txt{
        font-size: 14px;
    }
    .Cartbanner{
        height: 50vh;
    }
}