html {
    scroll-padding-top: 100px;
} 
.main{
    width: 100%;
    /* background-image: url(./UX/bg-beige.png); */
    /* background-color: #f7f7f7; */
}




.Catbanner{
    background-image: url(../UX/mv_03_lg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 55vh;
}
.main-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:50px 10px;
}





/* 商品分類 */
.CategoryTitle{
    font-size: 2rem;
    letter-spacing: .1em;
    line-height: 1;
    text-align: center;
    background-color: #131d3d;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}
.mainCategory{
    margin:0 0 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding:50px 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius:0 0 10px 10px;
}
.mainCategory-card{
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.mainCategory-list img{
    padding: 10px;
    width: 50%;
    object-fit: cover;
    vertical-align: top;
    aspect-ratio: 1/1;
    transition: 0.5s;
}
.mainCategory-list h3{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    flex-grow: 1;
    margin: 0;
}
.mainCategory-list:hover img{
    transform: scale(1.1);
}
.mainCategory-list:hover .mainCategory-card{
    outline: 1px solid rgb(217, 217, 217);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
}
.mainCategory-list:hover h3{
    font-size: 0;
}
.mainCategory-list:hover h3:after{
    font-size: 16px;
    content: attr(data-hover);
}
/* 商品分類 */






/* 商品列表 */
.goodsList{
    position: relative;
}
.goodsList-L{
    width: 100%;
    padding-top: 100px;
    position: relative;
}
.goodsList-inner{
    background-color: #f7f6f4;
    display: flex;
    position: relative;
    z-index: 10;
}
/* .test{
    max-width: 100%;
    display: block;
    position: absolute;
    font-size: 60px;
    font-weight: 800;
    padding: 0 15px;
    top: -40px;
    right: -70px;
    color: #fff;
    background-color: #ef7c7c;
    z-index: 10;
} */
.goodsList-inner::before{
    content: 'おすすめメニュー';
    position: absolute;
    font-size: 50px;
    font-weight: 800;
    padding: 0 15px;
    top: -40px;
    right: 0;
    color: #fff;
    background-color: #ef7c7c;
    z-index: 10;
}
.goodsList-img{
    width: 60%;
    position: relative;
    bottom: 70px;
    right: 70px;
}
.goodsList-img img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.goodsList-card{
    width: 40%;
    padding: 140px 50px 40px 0;
}
h3.goodsList-title{
    margin-bottom: 30px;
}
p.goodsList-txt{
    line-height: 3;
}
p.goodsList-price{
    font-weight: bold;
    font-size: 20px;
}
a.goodsList-btn{
    display: block;
    width: 270px;
    font-size: 15px;
    padding: 14px 54px;
    border-radius: 10px;
    margin-top: 50px;
    background: #323f6b;
    text-align: center;
    letter-spacing: 1.9px;
    color: #fafafa;
}
a.goodsList-btn:hover{
    background: #5451ff;
    color: #fafafa;
}
/* 商品列表 */



/* 詳細分類 */
.CategoryStyle{
    margin-top: 70px;
}
.CategoryStyle-L{
    display: flex;
    flex-wrap: wrap;
}
.CategoryStyle-L li{
    margin: 10px 15px 10px 0;
}
.CategoryStyle-L li a{
    background-color: #fff;
    display: block;
    padding: 15px 30px;
    border: 3px solid rgb(64, 66, 88);
    transition: 0.3s;
}
.CategoryStyle-L li a:hover{
    background-color: #37354b;
    border: 3px solid #37354b;
    color: #fff;
}
/* 詳細分類 */




/* 商品排序及顯示 */
.product-tools{
    padding: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #28292b;
    border-radius: 5px;
}
.product-tools h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    padding-left: 10px;
}
.ProductList-settings-sort{
    margin-right: 10px;
}
.ProductList-settings{
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
    align-items: center;
}
.ProductList-settings select{
    display: block;
    padding: 7px 20px 7px 10px;
    background: #f3f3f3;
    color: rgb(68, 68, 68);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3px;
}
/* 商品排序及顯示 */








/* feature start */
.feature-wrap{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}
h2.title{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}
.feature-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0 0 40px;
    grid-gap: 20px;
}
.feature-list .feature-item{
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 50px;
}
.feature-list .feature-item img{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.item-txt{
    padding: 10px 10px 0;
    /* border: 1px solid gold; */
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-txt-title{
    display: block;
    font-size: 14px;
    color: rgb(88, 88, 88);
    /* height: 50px; */
    margin: 0;
}
.item-txt-price{
    display: block;
    margin: 0;
    padding: 10px 0;
    
}





.feature-item .add-cart{
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgb(58, 47, 130);
    transition: 0.3s;
    border-radius: 5px;
    display: block;
}
.feature-item .add-cart a{
    text-decoration: none;
    color: rgb(73, 73, 73);
    transition: 0.3s;
}
.feature-item .add-cart:hover a{
    color: rgb(255, 255, 255);
}
.item-card:hover .add-cart{
    background-color: rgb(255, 105, 12);
    border: 1px solid rgb(255, 105, 12);
    display: block;
}
/* feature end */



.goodsList-swip{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.goodsList-swip div{
    width: 100%;
    height: 250px;
    background-color: #d7d7d7;
    margin:50px 10px;
}



@media screen and (max-width:1024px) { /*對平版以下有作用*/
    .mainCategory{
        grid-template-columns: repeat(3,1fr);
    }
    .feature-list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:959px) { /*對平版以下有作用*/
    .Catbanner{
        background-image: url(../UX/img-slide3@2x.jpeg);
        height: 90vh;
    }
}
@media screen and (max-width:767px) { /*對手機直握有作用*/
    .mainCategory{
        grid-template-columns: repeat(2,1fr);
    }
    .goodsList-inner{
        display: block;
    }
    .goodsList-img{
        width: 100%;
        position: static;
        bottom: 0;
        right: 0;
    }
    .goodsList-card {
        width: 100%;
        padding: 10px;
    }
    .feature-list{
        grid-template-columns: repeat(2,1fr);
        grid-gap:5px
    }
    .goodsList-inner::before{
        font-size: 40px;
        right: 0;
    }
    .product-tools{
        display: block;
        background-color: #fff;
        padding: 0;
    }
    .product-tools h1{
        /* color: #000; */
        background-color: #353267;
        padding: 10px 20px;
        border-radius: 5px 5px 0 0;

    }
    .ProductList-settings-sort{
        margin: 15px 0;
    }
    .ProductList-settings{
        /* display: block; */
        /* margin: 10px 0 10x auto; */
        font-size: inherit;
    }
    .ProductList-settings select{
        /* padding: 0; */
        /* margin-left: auto; */
    }
    .Catbanner{
        background-size: cover ;
        background-repeat: no-repeat;
        background-position:center;
        height: 90vh;
    }
    .mainCategory{
        padding: 5px;
        grid-gap: 5px;
    }
    .Catbanner{
        background-attachment: scroll;
        height: 70vh;
    }
}
@media screen and (max-width:576px) {/*對手機直握有作用*/
    .CategoryStyle-L li a{
        padding: 10px;

    }
}