.product-page{
    width: 100%;
}













.banner-img{
    background-image: url(../UX/s-2400x858_v-frms_webp_58f30432-a6a1-48e1-add4-374edfdab7b3.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}

/* Breadcrumbs */
.Breadcrumbs{
    margin: 50px auto 10px;
    width: 100%;
    max-width: 1200px;
    padding:10px;
    /* background: #995f0e; */
}
.Breadcrumbs div{
    /* padding: 30px 20px; */
    padding: 10px 20px;
    /* margin: 0 20px; */
    background-color: #28292b;
    border-radius: 3px;
}
.Breadcrumbs span{
    display: block;
    color: #fff;
}
/* Breadcrumbs */





.product-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    margin-bottom: 50px;
}
.product-detail{
    display: flex;
    position: relative;
}
.product-gallery{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    position: relative;
}
.product-gallery img{
    width: 100%;
    position: sticky;
    top: 100px;
}
.image-shortcut{
    width: 0;
    flex-grow: 1;
    padding: 15px;
}
.image-shortcut img{
    opacity: 0.7;
}
.image{
    width: 0;
    flex-grow: 5;
    padding: 15px;
}
.product-info{
    box-sizing: border-box;
    width: 50%;
    padding:0 50px;
}
h1.product-title{
    font-size: 30px;
    line-height: 1.4;
    margin: 0 0 20px;
    font-weight: 600;
    letter-spacing: normal;
}
.special-info{
    padding: 10px;
    border-left: 3px solid rgb(155, 155, 155);
    margin: 15px 0;
    font-size: 14px;
    color: rgb(86, 86, 86);
    background-color: rgb(243, 243, 243);
}
.product-price{
    font-size: 20px;
    vertical-align: middle;
    max-width: 100%;
    word-break: break-word;
    padding: 10px 0;
}
.variation-section{
    padding-top: 20px;
}
.variation-section-title{
    display: block;
    font-size: 13px;
    margin: 0 0 7px;
}
.variations-carousel ul{
    display: flex;
    line-height: 1.6;
    margin: 0 0 15px;
    padding-left: 0;
    /* height: 100%; */
}
.variations-carousel ul li{
    width: 110px;
    height: auto;
    margin-right: 15px;
    font-size: 14px;
    box-sizing: border-box;
}
.variations-carousel ul li a{
    display: flex;
    /* height: 100%; */
    min-height: 2rem;
    min-width: 0;
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    align-items: center;
    /* background-color: #000;
    color: #fff; */
    background-color: rgb(240, 168, 0);
    color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
}
.variations-carousel ul li:nth-child(odd) a{
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    opacity: 0.3;
}



.product-main-actions{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    display: flex;
}
.input-group input{
    text-align: center;
    width: 90px;
    font-size: 20px;
    border: none;
}
.input-group span img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.product-main__add-bag{
    width: 100%;
    margin: 20px;
    display: flex;
}
.product-add-bag{
    flex: 1;
    font-size: 16px;
    padding: 10px;
    line-height: 1.4;
    background-color: #000;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    transition: 0.3s;
}
.product-add-bag:hover{
    border: 1px solid rgb(255, 179, 0);
    background-color: rgb(240, 168, 0);
    color: #fff;

}
.wishlist-block div{
    cursor: pointer;
}
.wishlist-block div img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.wishlist-block div span{
    font-weight: 400;
}
.wishlist-block div span:hover{
    color: red;
}


.additional-info{
    margin-top: 30px;
}
.description-wrap{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.description-title span{
    display: block;
    padding: 18px 0;
}
.description-content div span{
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
}


.shipping-payment{
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}
.payment-title span{
    display: block;
    padding: 18px 0;
}
.payment-content h3{
    font-size: 15px;
    font-weight: 400;
}
.payment-content ul li{
    font-size: 13px;
    font-weight: 400;
}
.payment-content img{
    width: 80%;
    vertical-align: top;
}




/* feature start */
.feature-product{
    background-image: url(../UX/bg_texture_light.jpeg);
}
.feature-wrap{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 70px 20px 0;
    box-sizing: border-box;
}
h2.title{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}
.feature-list{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    /* margin: 40px 0; */
    grid-gap: 20px;
    /* gap: 15px; */

    overflow: scroll;
}
.feature-list .feature-item{
    /* padding: 10px; */
    box-sizing: border-box;
    /* width: 25% */
    text-align: left;
    margin-bottom: 50px;
}
.feature-list .feature-item img{
    width: 100%;
    vertical-align: middle;
}
.feature-item p{
    padding: 0 15px;
    margin-bottom: 20px;
}
.item-txt{
    padding: 20px 10px 0;
    /* border: 1px solid gold; */
    height: 160px;
}


.feature-item p:nth-child(1){
    font-size: 14px;
    color: rgb(88, 88, 88);
}
.feature-item .add-cart{
    text-align: center;
    background-color: rgb(255, 153, 0);
    padding: 10px 0;
    margin: 0 10px;
    border: 1px solid rgb(255, 169, 19);
    transition: 0.3s;
    border-radius: 10px;
    /* visibility: hidden; */
    display: none;
}
.feature-item .add-cart a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.feature-item .add-cart:hover a{
    color: rgb(255, 255, 255);
}
.feature-item .add-cart:hover{
    background-color: rgb(255, 105, 12);
    border: 1px solid rgb(255, 164, 29);
}
.item-card:hover .add-cart{
    display: block;
}
/* feature end */


@media screen and (max-width:1024px) { /*對平版以下有作用*/

}
@media screen and (max-width:959px) { /*對平版以下有作用*/
    .banner-img{
        background-image: url(../UX/IMG_5536_1440x1530.jpeg);
        height: 80vh;
    }
}
@media screen and (max-width:767px) { /*對手機以下有作用*/
    .product-gallery{
        width: 100%;
    }
    .product-info{
        width: 100%;
        padding: 10px;
    }
    .product-detail{
        display: block;
    }
    .banner-img{
        background-attachment: scroll;
        height: 70vh;
    }
}
@media screen and (max-width:767px) {
    .image-shortcut{
        display: none;
    }

}